extends layout

block content
  div.cointener-fluid
    div.row
      h1 Jarvis
      
    div.row
      h2 Adverts test server
      
    div.row
      ul.nav.nav-tabs
        li.active(role="presentation")
          a(href="#Prerolls") Prerolls
        li(role="presentation")
          a(href="#Midrolls") Midrolls
        li(role="presentation")
          a(href="#Postrolls") Postrolls
          
      div.tab-content
        div.tab-pane.active(role="tabpanel", id="Prerolls")
          h3 Prerolls config
          form
            div.form-group
              label Włączone?
              if prerolls.active
                input(type='checkbox', id="Prerolls_active", checked="true")                    
              else 
                input(type='checkbox', id="Prerolls_active", checked="false")
            div.form-group    
              label Uszkodzone?  
                input(type='checkbox', id='Prerolls_damage')  
            div.form-group
              label Ilosc? 
              input.form-control(type='number', placeholder='2', id='Prerolls_number')
              
        div.tab-pane(role="tabpanel", id="Midrolls")
          h3 Midrolls config
          form
            div.form-group
              label Włączone? 
                input(type='checkbox', id="Midrolls_active")
            div.form-group    
              label Uszkodzone?  
                input(type='checkbox', id="Midrolls_damage")  
            div.form-group
              label Ilosc? 
              input.form-control(type='number', placeholder='2', id='Midrolls_number')
              
        div.tab-pane(role="tabpanel", id="Postrolls")
          h3 Postrolls config
          form
            div.form-group
              label Włączone? 
                input(type='checkbox', id="Postrolls_active")
            div.form-group    
              label Uszkodzone?  
                input(type='checkbox', id="Postrolls_damage")  
            div.form-group
              label Ilosc? 
              input.form-control(type='number', placeholder='2', id='Postrolls_number')
              
    div.row.text-right
      button.btn.btn-primary.btn-lg(type="button") Save
