doctype html
html
  head
    title= title
    meta(name="viewport",content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/vendor/bootstrap/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/vendor/bootstrap/bootstrap-theme.css')
    script(type="text/javascript", src="/javascripts/vendor/underscore/underscore-min.js")
    script(type="text/javascript", src='/javascripts/vendor/jquery/dist/jquery.js')
    script(type="text/javascript", src='/javascripts/vendor/bootstrap/dist/js/bootstrap.js')
    script(type="text/javascript", src='/javascripts/main.js')
  body
    block content
