doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(href='/javascripts/vendor/jquery/dist/jquery.js')
    script(href='/javascripts/vendor/bootstrap/dist/js/bootstrap.js')
  body
    block content
