extends layout

block content
  div.cointener-fluid
    div.row
      h1 Jarvis
    
    div.row
      h2 Adverts test server
    
    div.row
      input.form-control(type='text', readonly='true', value='http://x.x.x.x:3666/xml')
